
[ego_vehicle]
# ego vehicle parameters
vehicle_wide = 2    # unit - meter
vehicle_long = 3    # unit - meter
vehicle_wide_po = 2 # unit - meter
vehicle_long_po = 3 # unit - meter

[threshold]
# Evaluation threshold
ego_speedLimit = 60 # unit - km/h
dy_limit = 2.5  # unit - meter
ay_1 = 2    # unit - m/s2
ay_2 = 3    # unit - m/s2
ay_3 = 4    # unit - m/s2

